{% extends 'base.html' %}
{% block body %}


<div class="container">
    <div class="row">
         {% for i in movie_list %}
        <div class="col-md-4">
            <div class="card" style="width: 23rem;margin-top:20px; ">
  <img  src="{{i.img.url}}" class="card-img-center" alt="..."  height="250">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
<!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">Go to movie</a>


  </div>
</div>
        </div>
          {% endfor %}

    </div>
</div>
{% endblock %}

